.App {
  text-align: center;
  padding-top: 1em;
}

th.headers > span > label {
    transform: scale(.80);
}

#mapping-select {
  min-width: 90px;
}

#mapping {
  vertical-align: inherit;
}

#submitButton {
  margin-bottom: 1em;
}

.MuiTableContainer-root {
  max-height: 400px;
}