.App {
  text-align: center;
  padding-top: 5em;
}

th.headers > span > label {
    transform: scale(.80);
}

#mapping-select {
  min-width: 90px;
}

#mapping {
  vertical-align: inherit;
}

#submitButton {
  margin-bottom: 1em;
}